/* geral css */

*{
    margin: 0;
    box-sizing: border-box;
}

:root {

    --primary-color: hsl(170, 100%, 26%);
    --headline: hsl(200, 11%, 15%);
    --paragraph: hsl(210, 9%, 31%);
    --brand-beige: hsl(39, 100%, 97%);
    --brand-light: hsl(148, 23%, 89%);
    --brand-dark: hsl(170, 100%, 14%);
    --bg-light: hsl(148, 23%, 89%);
    font-size: 62.5%; /*1rem = 10px*/

    --nav-height: 7.2rem;
}

html {
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
}

body {
    font-family: 'DM sans';
    font-size: 1.6rem;
    text-align: center;
    overflow: overlay;
    background-color: var();
}

.wrapper {
    width: min(50rem, 100%);
    margin-inline: auto; 
    padding-inline: 2.4rem;
}

img:not(:first-child) {
    max-width: 100%;
}

section {
    padding-block: 10rem;
}

/* header */

#home::before {
    content: "";
    width: 100%;
    height: calc(72% + var(--nav-height));
    background-color: var(--brand-light);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#home {
    padding-top: calc(1.8rem + var(--nav-height));
}

#home .button {
    margin-inline: auto; 
}

#home .button svg {
    width: 2.4rem;
}

#home p {
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--paragraph);

    margin-bottom: 3.2rem;
}


#home img {
    width: 35rem;
    display: block;
    margin-inline: auto;
    object-position: 0 2rem; 
}



#home .stats {
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-block: 4rem;
    margin-inline:  auto; 
    
    background-color: var(--brand-beige);
    border: 1px solid var(--brand-light);
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;

}

#home .stats h3 {
    font-size: 4.8rem;
    color: var(--headline);
    line-height: 130%;
    margin-bottom: 0.4rem;
}

#home .stats p {
    margin:0;
    color: var(--primary-color);
    font-size: 1.6rem;
    line-height: 150%;
}

section header h4 {
    font-size: 1.4rem;
    line-height: 150%;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    color: var(--primary-color);
    margin-bottom: 1.6rem;
}

section header h2 {
    font-size: 3rem;
    line-height: 3.9rem;
    color: var(--headline);    
}

section header h1 {
    font-size: 3.4rem;
    line-height: 130%;
    color: var(--headline);
    margin-bottom: 2.4rem;
    
}

section .content p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    color: var(--paragraph);
    margin-bottom: 3.2rem;
}

.button {
    background-color: var(--primary-color);
    border-radius: 4rem;
    border: none;
    margin-bottom: 6rem;
    padding: 1.6rem 3.2rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    width: fit-content;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    cursor: pointer;
    text-decoration: none;
    transition: background 200ms;
}

.button:hover {
    background-color: var(--brand-dark);
}

/* navegação */
nav {
    display: flex;
    padding-inline: 2.4rem;
    padding-block: 1.6rem;

    position: fixed;
    width: 100vw;
    height: var(--nav-height);
    z-index: 100;
}

nav .logo img {
    width: 7rem;
    margin-top: 1.4rem;
}

nav svg {
    width: 5rem;
    fill: white;
}


nav .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .scroll {
    background-color: var(--primary-color);
}

nav button {
    background: none;
    border: none;
    cursor: pointer;
}

nav .menu,
nav .close-menu {
    position: fixed
}

/* Menu-expanded */

body.menu-expanded {
    overflow: hidden;
}

body.menu-expanded > :not(nav) {
    visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
    opacity: 0;
    visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
    opacity: 1;
    visibility: visible;
}

body.menu-expanded .menu {
    
    top: 0;
    left: 0;
    background-color: var(--primary-color);

    width: 100vw;
    height: 100vh;
    padding-top: var(--nav-height);
    transition: all 0.3s ease-in-out;
}


.menu ul:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    margin-top: 6rem;
    
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
}

.menu ul li a {
    color: #ffffff;
    text-decoration: none;
}

.menu .button {
    background: #ffffff;
    border-radius: 4rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--primary-color);
    padding: 2.4rem 3.2rem;
    display: inline-block;
    margin-top: 4.8rem;
    margin-bottom: 8rem;
}

.menu .button:hover {
    background-color: var(--primary-color);
    color: white;
    border: 1px solid white;
}

.social-links {
    display: flex;
    gap: 3.2rem;
    align-items: center;
    justify-content: center;
}

body.menu-expanded .logo,
body.menu-expanded button {
    position: relative;
    z-index: 100;
}

body.menu-expanded button   {
    fill: white; 
}

.open-menu,
.close-menu {
  background: none;
  border: none;
  cursor: pointer;
}

.open-menu {
  display: block;
}

.close-menu {
  display: none;
}

/* Quando o menu está aberto */
body.menu-expanded .open-menu {
  display: none;
}

body.menu-expanded .close-menu {
  display: block;
}

.close-menu {
    position: absolute;
}

.scroll {
    background-color: var(--primary-color);
    width: 100vw;
}


/* Services */

#services h2 {
    margin-bottom: 6rem;
}

#services .cards {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

#services .card {
    padding: 2.4rem;
    text-align: left;
    background: white;
    border-radius: .6rem;
    border: 1px solid var(--brand-light);
}

#services .card h3 {
    margin-block: 1.6rem;
}

#services .card svg {
    width: 2rem;
    height: 2rem;
    opacity: 0.5;
}

/* About */

#about {
    background-color: var(--brand-beige);
    text-align: left;
}

#about header h2 {
    margin-bottom: 2.4rem;
}

#about .content p {
    margin-bottom: 6rem; 
    margin-top: 2.4rem;
}

#about .col-b img {
    width: 100%;
    height: 50rem;
    border-radius: 1rem;
}

/* Contact */

#contact  {
    text-align: left;
}

#contact header {
    margin-bottom: 3.2rem;
}

#contact ul {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 3.2rem;
    padding-left: 0;
}

#contact ul li {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 0.8rem;
}

#contact ul li svg {
    width: 2rem;
    height: 2rem;
    opacity: 0.5;
}

#contact a svg {
    width: 2.4rem; ;
}

#contact img {
    border-radius: 1rem;
    width: 100%;
    height: auto;
}

/* Footer */

footer {
    background-color: var(--primary-color);
    padding-block: 6rem;
    text-align: left;
    color: white;
}

footer img {
    width: 7rem;
    margin-bottom: 1.6rem;
}

footer p {
    color: var(--brand-beige);
    line-height: 2;
    margin-bottom: 3.2rem;
}

footer .social-links svg {
    width: 2.5rem;
}

footer .social-links {
    justify-content: flex-start;
    padding: 0;
}

/* Back to top */

#backToTopButton {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%); 
    transition: 300ms;
}

#backToTopButton.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


/* Responsivo */ 

@media (min-width: 1024px) {

    /* GERAL */ 

    body {
        overflow: auto;
    }

    .wrapper {
        width: min(112rem, 100%);
        display: grid;
    }

    section {
        padding-block: 16rem;
    }

    #section header h2 {
        font-size: 4rem;
        line-height: 5.2rem;
    }

    #home .col-a {
        grid-area: A;
    }

    .col-b {
        grid-area: B;
    }

    /* NAVIGATION */ 

    /* Reset */ 

    nav#navigation .wrapper * {
        margin: 0;
        padding: 0;
        visibility: initial;
        opacity: initial;
        display: initial;
        position: initial;
        background: initial;
        color: initial;
        flex-direction: initial;
        font-size: initial;
        gap: initial;
        font-size: initial;        
    }

    nav#navigation .close-menu,
    nav#navigation .open-menu,
    nav#navigation .social-links {
        display: none;
    }

    nav#navigation .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60%;
    }
    nav#navigation .menu ul:nth-child(1) {
        display: flex;
        gap: 3.2rem;
    }

    nav#navigation .menu ul li a {
        color: var(--primary-color);
        opacity: 0.7;
    }

    nav#navigation .menu a.button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2.4rem;

        border: 1px solid var(--primary-color);
        border-radius: 4rem;

        color: var(--primary-color);

        font-size: 1.4rem;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.8rem;
        height: 3.5rem;
        margin-right: 6rem;
    }
    nav#navigation.scroll .menu ul li a {
        color: var(--bg-light);
        opacity: 0.6;
    }

    nav#navigation.scroll .menu ul li a:hover {
        color: hsla(152, 23%, 89%, 0.644);
    }

    nav#navigation.scroll .menu a.button {
        border-color: white;
        color: white;
    }

    nav#navigation .menu li a {
       transition: opacity 200ms
    }

    nav#navigation .menu li a:hover {
        opacity: 1;
        font-weight: 700;
    }

    nav#navigation .menu li a::after {
        content: '';
        width: 0;
        height: 0.2rem;
        background-color: var(--primary-color);
        display: block;
        position: relative;
        bottom: -2rem;
        left: -0.8rem;
        transition: width 200ms;
    }   

    nav#navigation.scroll .menu li a::after {
        background-color: hsla(152, 23%, 89%, 0.644);
    }

    nav#navigation .menu li a:hover::after {
        padding-inline: 0.8rem;
        width: 100%;
    }

    nav#navigation.scroll .menu a.button:hover {
        background-color: white;
        color: var(--primary-color);
        border: none;
    }

    nav#navigation .menu a.button:hover {
        background-color: var(--primary-color);
        color: white;
        border: none;
    }

      nav#navigation .menu li a.active::after,
  nav#navigation .menu li a:hover::after {
    padding-inline: 0.8rem;
    width: 100%;
  }

  nav#navigation.scroll .menu li a.active,
  nav#navigation.scroll .menu li a:hover {
    opacity: 1;
  }

  nav#navigation.scroll .menu a.button.active,
  nav#navigation.scroll .menu a.button:hover {
    background-color: var(--primary-color);
    filter: brightness(1.3);
    border: none;
  }

  nav#navigation .menu li a.active,
  nav#navigation .menu li a:hover {
    opacity: 1;
    font-weight: 700;
  }

    /* HOME */

    #home::before {
        height: calc(96% - var(--nav-height));
    }

    #home {
        padding-block: 0;
        padding-top:  calc(4.1rem + var(--nav-height));
    }

    #home .wrapper {
        grid-template-columns:  1fr;
        grid-template-areas: 
        'A B'
        'C C';
    }
    #home .col-a {
        text-align: left;
        align-self: center;
    }

    #home h1 {
        font-size: 5.2rem;
    }

    #home .content p {
        font-size: 1.8rem;
    }

    #home .stats {
        grid-area: C;
        flex-direction: row;
        padding: 6rem;
        gap: 0;
    }


    #home .stats .stat + .stat {
        border-left: 1px solid var(--brand-light);
    }

    #home .stats .stat {
        flex: 1;
    }
 
    #home .button {
        margin: 0;
    }

    #home img {
        width: 48rem;
    }


    /* Services */

    #services h2 {
        width: 47rem;
        margin-inline: auto;
    }

    #services .cards {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #services .card {
        width: 30%;
        flex-grow: 1;
    }

    /* About */

    #about .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'B A';
        gap: 6.7rem;
    }

    #about .col-a {
        align-self: center;
}

    #about .content p {
        margin-bottom: 0;
}

    #about img {
        width: 100%;
        height: 45rem;
        border-radius: 1rem;
    }

    /* Contact */
    
    #contact .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'A B';
        gap: 6.7rem;
    }

    #contact h2 {
        width: 40.4rem;
    }

    #contact img {
        width: 100%;
    }


    /* Footer */ 

    footer {
        padding-block: 8rem;
    }

    footer .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'A B';
    }

    footer .col-a {
        align-self: center;
    }

    footer .col-b {
        justify-self: flex-end;
        align-self: center;
    }


    footer p {
        margin: 0;
    }

}


@media (min-width: 1024px) and (max-width: 1244px) {

    #home .col-a header h1 {
        font-size: 4rem;
    }
}