/* geral css */

*{
    margin: 0;
    box-sizing: border-box;
}

:root {

    --primary-color: hsl(170, 100%, 26%);
    --headline: hsl(200, 11%, 15%);
    --paragraph: hsl(210, 9%, 31%);
    --brand-beige: hsl(39, 100%, 97%);
    --brand-light: hsl(148, 23%, 89%);

    font-size: 62.5%; /*1rem = 10px*/

    --nav-height: 7.2rem;
}

html, body {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
}

body {
    font-family: 'DM sans';
    font-size: 1.6rem;
    text-align: center;
    overflow: overlay;
}

.wrapper {
    width: 37.5rem;
    margin-right: auto;
    margin-left: auto; 
    padding-inline: 2.4rem;
}

/* header */

header::before {
    content: "";
    width: 100%;
    height: calc(118rem + var(--nav-height));
    background-color: var(--brand-light);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

header {
    margin-top: calc(4.1rem + var(--nav-height));
}

header h4 {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-bottom: 1.4rem;
}

header h1 {
    font-size: 3.4rem;
    color: var(--headline);
    line-height: 130%;

    margin-bottom: 2.4rem;
}

header p {
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--paragraph);

    margin-bottom: 3.2rem;
}

header button {
    background-color: var(--primary-color);
    border-radius: 4rem;
    margin-bottom: 6rem;
    height: 6.2rem;
    width: 26.4rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
}

header img {
    width: 35rem;
    display: block;
    margin-inline: auto;
    object-position: 0 2rem; 
}



.stats {
    width: 32.7rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-block: 4rem;
    margin-inline:  auto; 
    
    background-color: var(--brand-beige);
    border: 1px solid var(--brand-light);
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;

}

.stats h3 {
    font-size: 4.8rem;
    color: var(--headline);
    line-height: 130%;
    margin-bottom: 0.4rem;
}

.stats p {
    margin:0;
    color: var(--primary-color);
    font-size: 1.6rem;
    line-height: 150%;
}


/* navegação */
nav {
    display: flex;
    padding-inline: 2.4rem;
    padding-block: 1.6rem;

    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}



nav .logo img {
    width: 7rem;
}

nav svg {
    width: 5rem;
    fill: white;
    
}

nav .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .scroll {
    background-color: var(--primary-color);
    width: 100vw;
}

nav button {
    background: none;
    border: none;
    cursor: pointer;
}

/* Menu-expanded */

body.menu-expanded {
    overflow: hidden;
}

body.menu-expanded > :not(nav) {
    display: none;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
    opacity: 0;
    visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
    opacity: 1;
    visibility: visible;
}

body.menu-expanded .menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-color);

    width: 100vw;
    height: 100vh;
}

body.menu-expanded nav {
   position: relative;
}

.menu ul:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    margin-top: 6rem;
    
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
}

.menu ul li a {
    color: #ffffff;
    text-decoration: none;
}

.menu .button {
    background: #ffffff;
    border-radius: 4rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--primary-color);

    display: inline-block;
    padding: 16px 32px;
    margin-top: 4.8rem;
    margin-bottom: 8rem;
}

.social-links {
    display: flex;
    gap: 3.2rem;
    align-items: center;
    justify-content: center;
}

body.menu-expanded .logo,
body.menu-expanded button {
    position: relative;
    z-index: 100;
}

body.menu-expanded button   {
    fill: white; 
}

.open-menu,
.close-menu {
  background: none;
  border: none;
  cursor: pointer;
}

.open-menu {
  display: block;
}

.close-menu {
  display: none;
}

/* Quando o menu está aberto */
body.menu-expanded .open-menu {
  display: none;
}

body.menu-expanded .close-menu {
  display: block;
}


